<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <!-- Material Design Bootstrap -->
    <link href="/static/css/mdb.min.css" rel="stylesheet">
      <!-- Your custom styles (optional) -->
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        #login_box {
        margin: 20% auto;
        padding : 50px;
        border-style : solid;
        border-width: 5px;
        width : 600px;
        height : 500px;
        }
        #Login {
        text-align : center ;
        color: blue;
        }


    </style>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">

          <!-- Brand -->
          <a class="navbar-brand" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
            <strong>CAN DO IT</strong>
          </a>

          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://naver.com" target="_blank">Portpolio</a>
              </li>
              <!-- <li class="nav-item"> -->
                <!-- <a class="nav-link" href="http://daum.net" target="_blank">Daum</a> -->
              <!-- </li> -->
              <!-- <li class="nav-item"> -->
                <!-- <a class="nav-link" href="http://google.com" target="_blank">Google</a> -->
              <!-- </li> -->
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <!-- <li class="nav-item"> -->
                <!-- <a href="https://www.facebook.com/" class="nav-link" target="_blank"> -->
                  <!-- <i class="fab fa-facebook-f"></i> -->
                <!-- </a> -->
              <!-- </li> -->
              <!-- <li class="nav-item"> -->
                <!-- <a href="https://twitter.com/" class="nav-link" target="_blank"> -->
                  <!-- <i class="fab fa-twitter"></i> -->
                <!-- </a> -->
              <!-- </li> -->
              <li class="nav-item">
                <a href="https://github.com/ydy1412/Acorn_flask.git" class="nav-link border border-light rounded waves-effect waves-light"
                  target="_blank">
                  <i class="fab fa-github mr-2"></i>GitHub
                </a>
              </li>
            </ul>

          </div>

        </div>
    </nav>
    <div id="login_box">
        <h1 id="Login"> LOG IN </h1>
        <form action="/member_checked" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">ID</label>
            <input type="text" name = "id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID">
            <small id="emailHelp" class="form-text text-muted">Only allowed for team member.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
<!--          <div class="form-group form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--          </div>-->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>