<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>

    </style>
</head>
<body>
    <form action="/post" method = "post">
        <p> 테스트1 : <input type = "text" name = "Test1"></p>
        <p> 테스트2 : <input type = "text" name = "Test2"></p>
        <p> 테스트3 : <input type = "text" name = "Test3"></p>
        <p> 테스트4 : <input type = "text" name = "Test4"></p>
        <p> 테스트5 : <input type = "text" name = "Test5"></p>
        <input type = "submit" value = "정보 넘기기" name ='transfer'>

    </form>

</body>
</html>